<!DOCTYPE html>
<html lang="en" dir="ltr">
{%load static%}
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'teatapp1.css'%}">
  </head>
  <body>

    <h1>CONTACTS INFORMATION</h1>
    {% if records2 %}
    <table border="3">
      <tr>
        <th>CONTACT_ID</th>
        <th>AGENT_ID</th>
        <th>MOBILENO</th>
        <th>EMAIL</th>
      </tr>
{% for record in records2 %}
      <tr>
        <td>{{record.contactid}}</td>
        <td>{{record.agentid}}</td>
        <td>{{record.mobileno}}</td>
        <td>{{record.email}}</td>
      </tr>
      {% endfor%}

    </table>
    {%else%}
<p>NO CONTACTS FOUND </p>
  {% endif %}
  </body>
</html>
