<!DOCTYPE html>
<html lang="en" dir="ltr">
{%load static%}
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{%static 'agent.css'%}">
  </head>
  <body>

<form action="/infodisplay">
     Enter agent_id: <input type="text" name="agentid" ><br>
    <input type="submit" value="agentinfo" name="operation">
    <input type="submit" value="contactinfo" name="operation">
    <input type="submit" value="locationinfo" name="operation">
    <input type="submit" value="addressinfo" name="operation">
</form>


  </body>
</html>
